<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width">
    <script src="https://rawgit.com/dankogai/js-base64/master/base64.min.js"></script>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="assets/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="assets/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script>
        var query = {};
        location.hash.substr(1).replace(/\?/g, '&').split("&").forEach(function(item) {
            query[item.split("=")[0]] = item.split("=")[1] && decodeURIComponent(item.split("=")[1]);
        });
        if (query.theme) {
            var cssLink = '<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/';
            cssLink += query.theme;
            cssLink += '/bootstrap.min.css" />';
            document.write(cssLink);
        }
        else {
            document.write('<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />');
        }

        // Allow them to provide their own stylesheets.
        if (query.styles) {
            var styles = Base64.decode(query.styles);
            if (styles && styles.length) {
                document.write('<link rel="stylesheet" href="' + styles + '" />');
            }
        }
    </script>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <link rel="stylesheet" href="formio-full.min.css" />
</head>
<body ng-app="formioFormApp">
    <script id="header" type="text/template">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" ng-cloak>{{ form.title }}</a>
                </div>
                <div class="collapse navbar-collapse">
                    <p class="navbar-text navbar-right"><a href="https://form.io" class="navbar-link">powered by &lt;form.io&gt;</a></p>
                </div>
            </div>
        </nav>
    </script>
    <script>
        var bodyClass = '';
        if (!query.header || parseInt(query.header, 10)) {
            document.write(document.getElementById('header').innerHTML);
            bodyClass += 'hasheader ';
        }
        if (query.iframe && parseInt(query.iframe, 10)) {
            bodyClass += 'iframe ';
            if (!query.theme) {
                bodyClass += 'notheme ';
            }
        }
        if (bodyClass) {
            document.body.className = bodyClass;
        }
    </script>

<!-- BROWSE HAPPY BEGINS HERE -->
<style>
    .browsehappy {
        display:block;
        width:100%;
        height:100px;
        background-color:#f2dede;
        margin: 0 0 10px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 22px;
        line-height: 1.4;
        color: #333;
        padding-top: 15px;
        vertical-align:middle;
    }
    .hasheader .browsehappy {
        margin-top: 50px;
    }
    .browsehappy span {
        vertical-align:middle;
        margin:20px 20px 20px 20px;
        background:url("https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png") no-repeat;
        height:64px;
        width:64px;
        display:inline-block;
    }
    .iframe.notheme {
        background-color: transparent;
    }
    .iframe .main {
        margin:0;
        padding:0;
        width: 100%;
    }
    .iframe .navbar .container {
        margin:0;
        width: 100%;
    }
    .navbar .container .navbar-right {
        margin-right: 0;
    }
    .hasheader .main {
        margin-top: 70px;
    }
</style>
<!--[if IE 6]><p class="browsehappy"><img />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!--[if IE 7]><p class="browsehappy"><img src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png" />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!--[if IE 8]><p class="browsehappy"><img src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png" />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!--[if IE 9]><p class="browsehappy"><img src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png" />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!-- BROWSE HAPPY ENDS HERE -->

<!-- Add the form.io form. -->
<div class="container main">
    <div>
        <div ng-if="formValidate">
            <div ng-if="toggleButton">
                <button ng-click="generatePDF()" type="button" class="btn btn-primary">Download PDF</button>
            </div>
            <div><formio src="formioSrc" id="render_me"></formio></div>
        </div>
        <div ng-if="!formValidate"><formio src="login"></formio></div>
    </div>
</div>
<script  src="formio-full.min.js"></script>
<script src="https://npmcdn.com/seamless@0.0.6/build/seamless.child.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

<script type="text/javascript">
    var parentPage = jQuery.seamless.connect({
        container: 'div.main'
    });
    angular.module('formioFormApp', ['formio'])
            .run(['$rootScope', '$location', function($rootScope, $location) {
                $rootScope.formioSrc = '';
                var path = $location.path();
                var query = $location.search();
                var returnUrl = query.return;
                var form = query.form;
                var pdfName;
                $rootScope.formValidate = true;

                if (!path && !form) { return; }
                if (!form && path) {
                    path = path.replace(/^\//, '');
                    var paths = path.split('/');
                    if (paths.length < 2) { return; }
                    form = 'https://' + paths.shift() + '.form.io/' + paths.join('/');
                }

                // Set the form on the rootScope.
                $rootScope.formioSrc = form;

                // Bind when the form is loaded.
                $rootScope.$on('formLoad', function(err, form) {
                    $rootScope.form = form;
                });
                $rootScope.$on('submissionLoad', function(event, submission) {
                    var checkSubmissionURL = new RegExp("/submission/");
                    pdfName = submission._id;
                    $rootScope.toggleButton = checkSubmissionURL.test(form);
                });

                $rootScope.$on('formError', function(error) {
                    $rootScope.formValidate = false;
                    $rootScope.login = 'https://formio.form.io/user/login';
                });

                // Bind to the submission of the form.
                $rootScope.$on('formSubmission', function(event, submission) {
                    console.log("formSubmission called");
                    $rootScope.formValidate = true;
                    if (!submission) { return; }
                    pdfName = submission._id;
                    $rootScope.toggleButton = true;
                    parentPage.send({formSubmission: submission});
                    if (returnUrl) {
                        var hasQuery = !!returnUrl.match(/\?/);
                        returnUrl += hasQuery ? '&' : '?';
                        returnUrl += '&form=' + encodeURIComponent(form);
                        returnUrl += '&sub=' + submission._id;
                        window.location.href = returnUrl;
                    }
                });

                $rootScope.generatePDF = function () {
                    var doc = new jsPDF('l', 'mm', 'a4');
                    var elementHandler = {
                        '#ignorePDF': function (element, renderer) {
                            return true;
                        }
                    };
                    var element = jQuery('#render_me');
                    html2canvas(element, {
                        onrendered: function(canvas) {
                            var imgData = canvas.toDataURL('image/png');
                            var imgWidth = doc.internal.pageSize.width - 20;
                            var pageHeight = doc.internal.pageSize.height;
                            var imgHeight = canvas.height * imgWidth / canvas.width;
                            var heightLeft = imgHeight;
                            var position = 10;

                            doc.addImage(imgData, 'PNG', 10, position, imgWidth, imgHeight);
                            heightLeft -= pageHeight;
                            while (heightLeft >= 0) {
                                position = (heightLeft + 10) - imgHeight;
                                doc.addPage();
                                doc.addImage(imgData, 'PNG', 10, position, imgWidth, imgHeight);
                                heightLeft -= pageHeight;
                            }
                            doc.save( pdfName + '.pdf');
                        }
                    });
                };
            }]);
    </script>
</body>
</html>
