<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width">
    <script src="https://rawgit.com/dankogai/js-base64/master/base64.min.js"></script>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="assets/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="assets/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script>
        var query = {};
        location.hash.substr(1).replace(/\?/g, '&').split("&").forEach(function(item) {
            query[item.split("=")[0]] = item.split("=")[1] && decodeURIComponent(item.split("=")[1]);
        });
        if (query.theme) {
            var cssLink = '<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/';
            cssLink += query.theme;
            cssLink += '/bootstrap.min.css" />';
            document.write(cssLink);
        }
        else {
            document.write('<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />');
        }

        // Allow them to provide their own stylesheets.
        if (query.styles) {
            var styles = Base64.decode(query.styles);
            if (styles && styles.length) {
                document.write('<link rel="stylesheet" href="' + styles + '" />');
            }
        }
    </script>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <link rel="stylesheet" href="formio-full.min.css" />
</head>
<body ng-app="formioFormApp">
<script id="header" type="text/template">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ng-cloak>{{ form.title }}</a>
            </div>
            <div class="collapse navbar-collapse">
                <p class="navbar-text navbar-right"><a href="https://form.io" class="navbar-link">powered by &lt;form.io&gt;</a></p>
            </div>
        </div>
    </nav>
</script>
<script>
    var bodyClass = '';
    if (!query.header || parseInt(query.header, 10)) {
        document.write(document.getElementById('header').innerHTML);
        bodyClass += 'hasheader ';
    }
    if (query.iframe && parseInt(query.iframe, 10)) {
        bodyClass += 'iframe ';
        if (!query.theme) {
            bodyClass += 'notheme ';
        }
    }
    if (bodyClass) {
        document.body.className = bodyClass;
    }
</script>

<!-- BROWSE HAPPY BEGINS HERE -->
<style>
    .browsehappy {
        display:block;
        width:100%;
        height:100px;
        background-color:#f2dede;
        margin: 0 0 10px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 22px;
        line-height: 1.4;
        color: #333;
        padding-top: 15px;
        vertical-align:middle;
    }
    .hasheader .browsehappy {
        margin-top: 50px;
    }
    .browsehappy span {
        vertical-align:middle;
        margin:20px 20px 20px 20px;
        background:url("https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png") no-repeat;
        height:64px;
        width:64px;
        display:inline-block;
    }

    .main {
        margin-top: 4px;
    }

    .iframe.notheme {
        background-color: transparent;
    }
    .iframe .main {
        margin:0;
        padding:0;
        width: 100%;
    }
    .iframe .navbar .container {
        margin:0;
        width: 100%;
    }
    .navbar .container .navbar-right {
        margin-right: 0;
    }

    .navbar {
        margin-bottom: 0px;
    }

    .formio-submission {
        margin-top: 34px;
    }

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
</style>
<!--[if IE 6]><p class="browsehappy"><img />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!--[if IE 7]><p class="browsehappy"><img src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png" />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!--[if IE 8]><p class="browsehappy"><img src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png" />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!--[if IE 9]><p class="browsehappy"><img src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png" />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!-- BROWSE HAPPY ENDS HERE -->

<!-- Add the form.io form. -->
<div class="container main">
    <div ng-cloak>
        <div class="alert alert-danger" ng-if="formError">{{ formError }}</div>
        <div ng-if="formValidate">
            <a ng-if="hasSubmission" type="button" ng-click="generatePDF()" style="float:right;cursor:pointer;margin-top:-32px"><img src="assets/download-pdf.png" style="height:30px" /></a>
            <formio src="formioSrc" submission="submission" ng-class="{'formio-submission': hasSubmission}"></formio>
        </div>
        <div ng-if="!formValidate" style="margin-top: 20px;">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title"><strong>Please login to view submission</strong></h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <formio src="login"></formio>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script  src="formio-full.min.js"></script>
<script src="//npmcdn.com/seamless@0.0.6/build/seamless.child.min.js"></script>
<script src="//cdn.rawgit.com/MrRio/jsPDF/master/dist/jspdf.min.js"></script>
<script src="//cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js"></script>
<script type="text/javascript">
    var parentPage = jQuery.seamless.connect({
        container: 'div.main'
    });
    angular.module('formioFormApp', ['formio'])
        .run([
            '$rootScope',
            '$location',
            'Formio',
            '$controller',
            function(
                    $rootScope,
                    $location,
                    Formio,
                    $controller
            ) {
                $rootScope.formError = '';
                $rootScope.formioSrc = '';
                var path = $location.path();
                var query = $location.search();
                var returnUrl = query.return;
                var form = query.form;
                var pdfName;
                $rootScope.formValidate = true;
                $rootScope.submission = {data: {}};

                var project = '';
                var formPath = '';
                $rootScope.login = '';
                if (!path && !form) { return; }
                if (!form && path) {
                    path = path.replace(/^\//, '');
                    var paths = path.split('/');
                    if (paths.length < 2) { return; }
                    project = paths.shift();
                    formPath = paths.join('/');
                    form = 'https://' + project + '.form.io/' + formPath;
                    if (!$rootScope.login) {
                        $rootScope.login = 'https://' + project + '.form.io/';
                        $rootScope.login += query.login ? query.login : 'user/login';
                    }
                }

                // Ensure we have a login form.
                if (!$rootScope.login) {
                    $rootScope.login = query.login || 'https://formio.form.io/user/login';
                }

                // Set the form on the rootScope.
                $rootScope.formioSrc = form;

                // Bind when the form is loaded.
                $rootScope.$on('formLoad', function(err, form) {
                    $rootScope.form = form;
                    if (
                        $rootScope.form.settings &&
                        $rootScope.form.settings.controller
                    ) {
                        try {
                            var controller = eval($rootScope.form.settings.controller);
                            if (controller) {
                                $controller(controller, {$scope: $rootScope});
                            }
                        }
                        catch (err) {
                            console.log(err.message);
                        }
                    }
                });
                $rootScope.$on('submissionLoad', function(event, submission) {
                    // Check for substring 'submission' to enable the download pdf button.
                    var checkSubmissionURL = new RegExp("/submission/");
                    pdfName = submission._id;
                    $rootScope.hasSubmission = checkSubmissionURL.test(form);
                    $rootScope.formValidate = !!Formio.getToken();
                });

                $rootScope.$on('formError', function(event, error) {
                    $rootScope.formError = error;
                    if (error.indexOf('Unauthorized')===0) {
                        $rootScope.formValidate = false;
                        Formio.setUser(null);
                    }
                });

                // Bind to the submission of the form.
                $rootScope.$on('formSubmission', function(event, submission) {
                    // Disable the download pdf button for those submission which created from viewer application.
                    $rootScope.hasSubmission = false;
                    $rootScope.formError = '';
                    if (!$rootScope.formValidate) {
                        $rootScope.formValidate = !!Formio.getToken();
                    }
                    if (!submission) { return; }
                    parentPage.send({formSubmission: submission});
                    if (returnUrl) {
                        var hasQuery = !!returnUrl.match(/\?/);
                        returnUrl += hasQuery ? '&' : '?';
                        returnUrl += '&form=' + encodeURIComponent(form);
                        returnUrl += '&sub=' + submission._id;
                        window.location.href = returnUrl;
                    }
                });

                $rootScope.generatePDF = function () {
                    var doc = new jsPDF({unit:'px', format:'a4'});
                    var formElement = jQuery('form[name="formioForm"]');
                    var formTop = formElement.offset().top;
                    var formWidth = formElement.width();
                    var a4 = [595.28,  841.89];
                    var a4Width = (a4[0]*1.33333);
                    var a4Height = (a4[1]*1.33333);
                    formElement.width(a4Width-80).css('max-width','none');

                    var imgWidth = doc.internal.pageSize.width - 20;
                    var pageHeight = doc.internal.pageSize.height;
                    var formChildren = formElement.children();
                    var numberOfChild = formChildren.length;
                    var pageNum = 1;
                    for (var i=0; i< numberOfChild - 1; i++) {
                        var childElement = formChildren.eq(i);
                        var childElementTop = childElement.offset().top - formTop;
                        var childElementHeight = childElement.outerHeight(true);
                        var pageSpace = (pageNum * a4Height) - childElementTop;
                        if ((pageSpace > 0) && (childElementHeight > pageSpace)) {
                            childElement.css('marginTop', (pageSpace + 10) + 'px');
                            pageNum++;
                        }
                    }

                    html2canvas(formElement, {
                        imageTimeout: 2000,
                        removeContainer: true
                    }).then(function(canvas){
                        var img = canvas.toDataURL("image/png");
                        var imgHeight = canvas.height * imgWidth / canvas.width;
                        var heightLeft = imgHeight;
                        var position = 10;
                        doc.addImage(img, 'PNG', 10, position, imgWidth, imgHeight);
                        heightLeft -= pageHeight;
                        while (heightLeft >= 0) {
                            position = heightLeft - imgHeight;
                            doc.addPage();
                            doc.addImage(img, 'PNG', 10, position, imgWidth, imgHeight);
                            heightLeft -= pageHeight;
                        }
                        doc.save(pdfName + '.pdf');
                        formElement.width(formWidth);
                    });
                };
            }]);
</script>
</body>
</html>
